body {
  background-color: #282c34 !important;
}

:root {
  --amplify-primary-color: #0e6efb;
  --amplify-primary-tint: #ff7359;
  --amplify-primary-shade: #e0573e;
}

.accordion-button{
  background-color: #373d48 !important;
}

.accordion-body{
  background-color: #373d48 !important;
  color:white !important;
}

.accordion-button::after {
  filter: invert(1);
}

.App {
  background-color: #282c34;
  text-align: center;
  min-height: 100vh;
  color: white;
}

.cool-accordion {
  color: black;
  max-width:720px;
  margin:auto;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.floating-alert {
  position: fixed;
  top: 5%;
  left: 30%;
  width: 40%;
  z-index: 9999;
  border-radius:5px
}